html
  head
    title Swift API - Home
    link(rel="stylesheet", href="/views/styles.css")
  body
    header
      h1 Swift API - Home
    main
      h2 Welcome to the Swift API for MT799 messages!
      p This application allows you to upload and manage MT799 messages.
      p
        a(href="/messages", class="button-index") Click here
        |  to view and manage your messages.
    footer
      p Copyright &copy; 2023 Swift API
